.dark-theme {
    background-color: #242424;
    color: #f9f9f9;

    .MuiTypography-root {
        color: #f9f9f9;
    }

    .MuiCardContent-root {
        background-color: #344955;
        p {
            color: #f9f9f9;
        }
    }

    .MuiCardActions-root {
        background-color: #344955;

    }

    .MuiButtonBase-root {
        color: #78A083;
    }
}

.light-theme {
    background-color: #f9f9f9;
    color: #242424;
}